semmap @ git+https://github.com/ausgerechnet/semmap@master
cwb-ccc==0.14.0
APIFlask==2.1.1
Flask==3.0.2
Flask-HTTPAuth==4.8.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-SQLAlchemy>=3.0.5,<3.2
Flask-CORS==4.0.0
SQLAlchemy==2.0.51
pytest==8.1.1
pylint==3.2.5
PyJWT==2.9.0
statsmodels==0.14.6
scipy<=1.17.0,>=1.13
flexiconc==0.1.22
